<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>JavaCodeGeeks</title>
</h:head>
<h:body>
	- Message : <h:outputText value="#{helloWorldBean.msg}" />
	- Employee count : <h:outputText value="#{helloWorldBean.employees}" />

</h:body>
</html>